body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4, #fbc2eb, #a18cd1);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
h1 {
    font-size: 40px;
    font-weight: 600;
    margin: 20px 0;
    background: linear-gradient(90deg, #a75803, #ff758c);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.logout-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background: linear-gradient(90deg, #ff7eb3, #ff758c);
    text-decoration: none;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    width: 220px;
    text-align: center;
}
.logout-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.logout-button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 20px 0;
    text-align: center;
    color: #fdfdfd;
    background: linear-gradient(90deg, #ff758c, #ff7eb3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out;
}
h4 {
    font-size: 20px;
    font-weight: 400;
    margin: 15px 0;
    text-align: center;
    color: #f3f3f3;
    background: linear-gradient(90deg, #a18cd1, #fbc2eb);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1.2s ease-in-out;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    animation: fadeIn 1.5s ease-in-out;
}
ul li {
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
ul li:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg, #fbc2eb, #a18cd1);
}
ul li:last-child {
    margin-bottom: 30px;
}