<!DOCTYPE html>
<html>
<head>
    <title>Secret Page</title>
    <link rel="stylesheet" href="static/secret_styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Secret Page!</h1>
        <h3>Only authorized users can see this page.</h3>
        <h4>Here are the members of our secret club:</h4>
        <ul>
            <li>Vatsal Rukhaiyar</li>
            <li>Ari Holahan</li>
            <li>Anisha Tasnim</li>
            <li>Tuomas Malkki</li>
            <li>Pekka Alias</li>
        <form action="{{ url_for('logout') }}" method="get">
            <button type="submit" class="logout-button">Logout</button>
        </form>
    </div>
</body>
</html>